<a href="https://colab.research.google.com/github/SanjaySaatyaki/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
names = ["A","B","C","D"]
ages = [10,20,30,40]
married = [True, False, False, True]

In [3]:
ser = pd.Series(names,name='names')

In [4]:
ser

0    A
1    B
2    C
3    D
Name: names, dtype: object

In [5]:
df = pd.DataFrame({'name':names,'age':ages,'married':married})

In [6]:
df

  name  age  married
0    A   10     True
1    B   20    False
2    C   30    False
3    D   40     True

In [7]:
ser.iloc[2]

'C'

In [8]:
df.iloc[2]

name           C
age           30
married    False
Name: 2, dtype: object

In [9]:
df.iloc[2,0]

'C'

In [10]:
ser.ndim

1

In [11]:
df.ndim

2

In [12]:
ser.shape

(4,)

In [13]:
df.shape

(4, 3)

In [14]:
 df.name

0    A
1    B
2    C
3    D
Name: name, dtype: object

In [15]:
df.dtypes

name       object
age         int64
married      bool
dtype: object

Create DataFrames

In [19]:
df_1 = pd.DataFrame({'name':names,'age':ages,'married':married})

In [20]:
df_1

  name  age  married
0    A   10     True
1    B   20    False
2    C   30    False
3    D   40     True

In [22]:
tuple_names = tuple(names)
tuple_ages = tuple(ages)
tuple_married = tuple(married)

In [23]:
tuple_names

('A', 'B', 'C', 'D')

In [24]:
names

['A', 'B', 'C', 'D']

In [26]:
pd.DataFrame({'name':tuple_names,
             'ages':tuple_ages,
             'married':tuple_married})

  name  ages  married
0    A    10     True
1    B    20    False
2    C    30    False
3    D    40     True

In [27]:
#dict of series

In [28]:
series_names = pd.Series(names)
series_ages = pd.Series(ages)
series_married = pd.Series(married)

In [29]:
pd.DataFrame({'name':series_names,
             'ages':series_ages,
             'married':series_married})

  name  ages  married
0    A    10     True
1    B    20    False
2    C    30    False
3    D    40     True

In [35]:
def convert_list_to_dict(l):
  return {k:v for k,v in enumerate(l) }
dict_name = convert_list_to_dict(names)
dict_ages = convert_list_to_dict(ages)
dict_married = convert_list_to_dict(married)

In [36]:
pd.DataFrame({'name':dict_name,
             'ages':dict_ages,
             'married':dict_married})

  name  ages  married
0    A    10     True
1    B    20    False
2    C    30    False
3    D    40     True

In [37]:
list(zip(names,ages,married))

[('A', 10, True), ('B', 20, False), ('C', 30, False), ('D', 40, True)]

In [38]:
row_wise = [{"name":name, "age":age,"married":married} for name, age, married in zip(names,ages, married)]

In [39]:
pd.DataFrame(row_wise)

  name  age  married
0    A   10     True
1    B   20    False
2    C   30    False
3    D   40     True