<a href="https://colab.research.google.com/github/SanjaySaatyaki/Pandas/blob/main/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
students = ["A","B","C"]

In [2]:
type(students)

list

In [3]:
import pandas as pd
pd.Series(students)

0    A
1    B
2    C
dtype: object

In [4]:

ages = [27,30,40]

In [5]:
pd.Series(ages)

0    27
1    30
2    40
dtype: int64

In [6]:
heights = [5.4,6.1,5.9]
pd.Series(heights)

0    5.4
1    6.1
2    5.9
dtype: float64

In [7]:
mixed = [True,"hello",{"key":"value"}]

In [8]:

pd.Series(mixed)

0                True
1               hello
2    {'key': 'value'}
dtype: object

# Parameters Vs Arguments

In [9]:
pd.Series(data=students)

0    A
1    B
2    C
dtype: object

In [10]:
books_list = ["ikagai","psychology of money","clean code"]

In [11]:
list_a = pd.Series(books_list)

In [12]:
books_dict = {0:"ikagai",1:"psychology of money",2:"clean code"}

In [13]:
books_a = pd.Series(books_dict)

In [14]:
list_a.equals(books_a)

True

.dtype

In [15]:
pd.Series(ages,dtype="float")

0    27.0
1    30.0
2    40.0
dtype: float64

In [16]:
name_series = pd.Series(students)

In [17]:
name_series.dtype

dtype('O')

Custom Index

In [18]:
pd.Series(books_list,["Motivation","Finance","Coding"])

Motivation                 ikagai
Finance       psychology of money
Coding                 clean code
dtype: object

In [19]:
book_series = books_a

In [20]:
book_series.name = "Books i have Read"

In [21]:
book_series.index.name = "Catagory"

In [22]:
book_series

Catagory
0                 ikagai
1    psychology of money
2             clean code
Name: Books i have Read, dtype: object

In [23]:
actors = ["A","B","C"]
age = [10,20,30]

In [24]:
pd.Series(ages,actors)

A    27
B    30
C    40
dtype: int64

In [25]:
actors_dict = dict(zip(actors,ages))
pd.Series(actors_dict)

A    27
B    30
C    40
dtype: int64

In [26]:
int_series = pd.Series(range(60))

In [27]:
int_series.size

60

In [28]:
int_series.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [29]:
int_series.tail()

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [30]:
int_series.tail(n=10)

50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [31]:
from string import ascii_lowercase

In [32]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [33]:
alphabet = pd.Series(list(ascii_lowercase))

In [34]:
alphabet.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [35]:
alphabet[0:-1]

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
dtype: object

In [36]:
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [37]:
from string import ascii_uppercase

In [38]:
labeled_alphabet = pd.Series(data=list(ascii_lowercase),index=map(lambda x: 'label_'+x,list(ascii_uppercase)))

In [39]:
labeled_alphabet.head()

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
dtype: object

In [40]:
labeled_alphabet[0]

'a'

In [41]:
labeled_alphabet['label_A']

'a'

In [42]:
alphabet.head()

0    a
1    b
2    c
3    d
4    e
dtype: object

In [43]:
alphabet.add_prefix("label_")

label_0     a
label_1     b
label_2     c
label_3     d
label_4     e
label_5     f
label_6     g
label_7     h
label_8     i
label_9     j
label_10    k
label_11    l
label_12    m
label_13    n
label_14    o
label_15    p
label_16    q
label_17    r
label_18    s
label_19    t
label_20    u
label_21    v
label_22    w
label_23    x
label_24    y
label_25    z
dtype: object

In [44]:
alphabet.add_suffix("_suffix")

0_suffix     a
1_suffix     b
2_suffix     c
3_suffix     d
4_suffix     e
5_suffix     f
6_suffix     g
7_suffix     h
8_suffix     i
9_suffix     j
10_suffix    k
11_suffix    l
12_suffix    m
13_suffix    n
14_suffix    o
15_suffix    p
16_suffix    q
17_suffix    r
18_suffix    s
19_suffix    t
20_suffix    u
21_suffix    v
22_suffix    w
23_suffix    x
24_suffix    y
25_suffix    z
dtype: object

Using Dot Notation

In [45]:
labeled_alphabet['label_V']

'v'

In [46]:
labeled_alphabet.label_V

'v'

Boolean Mask and the .loc Indexer

In [47]:
labeled_alphabet['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [48]:
labeled_alphabet.loc['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [49]:
book_series

Catagory
0                 ikagai
1    psychology of money
2             clean code
Name: Books i have Read, dtype: object

In [50]:
book_series.loc[[True,False,True]]
#Boolen mask size of bool must be size of series

Catagory
0        ikagai
2    clean code
Name: Books i have Read, dtype: object

In [51]:
labeled_alphabet.loc[[True for i in range(26)]]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [52]:
labeled_alphabet.loc[[True if i%2==0 else False for i in range(26)]]

label_A    a
label_C    c
label_E    e
label_G    g
label_I    i
label_K    k
label_M    m
label_O    o
label_Q    q
label_S    s
label_U    u
label_W    w
label_Y    y
dtype: object

Extraction by position with iloc

In [53]:
#iloc ==> integer loc ==> indexing by position
#loc ==> location => indexing by label

In [54]:
labeled_alphabet.iloc[0]

'a'

In [55]:
labeled_alphabet.iloc[1:3]

label_B    b
label_C    c
dtype: object

In [56]:
labeled_alphabet.iloc[[1,4,9]]

label_B    b
label_E    e
label_J    j
dtype: object

In [57]:
def every_fifth(x):
  return [True if (i+1)%5==0 else False for i in range(x.size)]

In [58]:
labeled_alphabet.iloc[every_fifth]

label_E    e
label_J    j
label_O    o
label_T    t
label_Y    y
dtype: object

In [59]:
labeled_alphabet.get("label_in",default ="Not found")

'Not found'

Series Method and Handling

In [60]:
import pandas as pd

In [61]:
pd. read_csv("https://andybek.com/pandas-drinks")

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [62]:
alcohol = pd.read_csv("https://andybek.com/pandas-drinks", usecols=['country','wine_servings'], index_col='country',squeeze=True)

In [63]:
alcohol

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen            NaN
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64

In [64]:
alcohol.size

193

In [65]:
alcohol.values

array([ nan,  54.,  14., 312.,  45.,  45., 221.,  11., 212., 191.,   5.,
        51.,   7.,  nan,  36.,  42., 212.,   8.,  13.,  nan,   8.,   8.,
        35.,  16.,   1.,  94.,   7.,  nan,   7.,  16.,   1.,   4.,   1.,
         1.,   1., 172.,   8.,   3.,   1.,   9.,  74.,  11., 254.,   5.,
       113., 134.,  nan,   1., 278.,   3.,  26.,   9.,   3.,   1.,   2.,
       233.,  nan,  59.,  nan,   1.,  97.,  37.,  59.,   1., 149., 175.,
         1., 218.,  28.,   2.,   2.,  21.,   1.,   1.,   2., 185.,  78.,
        nan,  nan,  nan,  nan, 165.,   9., 237.,   9.,  16.,   1.,  12.,
         2.,   1.,  nan,   6., 123.,  62.,  31.,  nan,   2.,  nan,  56.,
       271.,   4.,   1.,  nan,  nan,   1.,  12.,  nan,  nan,  18.,   5.,
        18.,  nan,   8., 128.,   1.,   5.,  nan,   1.,   8.,  nan,  19.,
       175.,   1.,   1.,   2.,   7., 129.,   1.,  nan,  23.,  18.,   1.,
        74.,  21.,   1.,  56., 339.,   7.,   9.,  18., 167.,  73.,  nan,
        32.,  71.,  11.,  24.,  nan,  14.,  nan,   7., 127.,  51.,   2.,
        11., 116., 276.,   1.,  nan,  81., 112.,  nan,  nan,   7.,   2.,
       186.,  28.,  16.,  nan,   1.,  86.,   4.,  19.,   5.,   7.,   2.,
         7.,  32.,   9.,  nan,  45.,   5., 195.,   1.,  84.,  22.,   8.,
        11.,   3.,   1.,  nan,   4.,   4.])

In [66]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [67]:
alcohol.values.size == alcohol.index.size

True

In [68]:
alcohol.shape

(193,)

In [69]:
len(alcohol)

193

Unique Values and Series Monotonicity

In [70]:
alcohol.is_unique

False

In [71]:
alcohol.head().is_unique

True

In [72]:
alcohol.nunique(dropna=False)

72

In [73]:
pd.Series([1,2,3]).is_monotonic

True

In [74]:
pd.Series([1,2,3,4,5,5,5,]).is_monotonic

True

In [75]:
pd.Series([1,2,3,1]).is_monotonic

False

In [76]:
alcohol.count()

162

In [77]:
alcohol.size

193

In [78]:
alcohol.isnull()

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [79]:
alcohol[alcohol.isnull()].index

Index(['Afghanistan', 'Bangladesh', 'Bhutan', 'Burundi', 'North Korea',
       'Eritrea', 'Ethiopia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Kuwait',
       'Lesotho', 'Libya', 'Malaysia', 'Maldives', 'Marshall Islands',
       'Mauritania', 'Monaco', 'Myanmar', 'Nepal', 'Pakistan', 'Rwanda',
       'San Marino', 'Saudi Arabia', 'Somalia', 'Sri Lanka', 'Sudan',
       'Tajikistan', 'Uganda', 'Yemen'],
      dtype='object', name='country')

In [80]:
alcohol.isnull().sum()

31

In [81]:
import numpy as np
alcohol[np.isnan]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

In [82]:
alcohol.notnull()

country
Afghanistan    False
Albania         True
Algeria         True
Andorra         True
Angola          True
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia          True
Zimbabwe        True
Name: wine_servings, Length: 193, dtype: bool

In [83]:
type(True)

bool

In [84]:
bool.__mro__

(bool, int, object)

In [86]:
wine_servings = alcohol[alcohol.notnull()]

In [87]:
wine_servings

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [88]:
wine_servings.sum()

8221.0

In [89]:
wine_servings[wine_servings<100]

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 132, dtype: float64

In [90]:
alcohol.dropna()

country
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
                     ...
Vanuatu               11.0
Venezuela              3.0
Vietnam                1.0
Zambia                 4.0
Zimbabwe               4.0
Name: wine_servings, Length: 162, dtype: float64

In [91]:
#alcohol.dropna(inplace=True)

In [92]:
alcohol.fillna(10)

country
Afghanistan     10.0
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
               ...
Venezuela        3.0
Vietnam          1.0
Yemen           10.0
Zambia           4.0
Zimbabwe         4.0
Name: wine_servings, Length: 193, dtype: float64